/* style.css */

.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.retour {
    -fx-background-color: red;
}

.ajouter {
    -fx-background-color: blue;
}
.button:hover {
    -fx-background-color: #45a049;
}

.supprimer {
    -fx-background-color: red;
}
.miseAJour {
    -fx-background-color: #f39c12; /* Green color for save button */

}
.label {
    -fx-font-weight: bold;
}

.date-picker,
.combo-box,
.text-field {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.date-picker {
    -fx-background-color: white;
}

.combo-box {
    -fx-background-color: white;
}

.text-field {
    -fx-background-color: white;
}

.grid-pane {
    -fx-background-color: white;
    -fx-padding: 20px;
    -fx-border-color: #dddddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

