/* Style de la fenêtre d'historique */
.root {
    -fx-background-color: #e8e8e8;
    -fx-padding: 20;
}

#title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.table-view {
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-selection-bar: #007bff;
    -fx-selection-bar-non-focused: #007bff;
}

.table-column {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 10px;
}

.table-cell {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-text-fill: #666;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-margin-top: 10px;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.button:pressed {
    -fx-background-color: #004080;
}
