/* Reset global */
* {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-box-sizing: border-box;
}

/* Background color */
.root {
    -fx-background-color: #f0f0f0;
}

/* Container for admin icons */
.admin-icon-container {
    -fx-padding: 20px;
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10px;
    -fx-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -fx-alignment: center;
}

/* Individual admin icon style */
.admin-icon {
    -fx-pref-width: 150px; /* Adjust the size based on your layout */
    -fx-pref-height: 150px;
    -fx-cursor: pointer;
    -fx-border-radius: 50%;
    -fx-overflow: hidden;
    -fx-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -fx-border-width: 4px;
    -fx-border-color: transparent;
    -fx-transition: transform 0.3s ease, -fx-box-shadow 0.3s ease;
}

.admin-icon:hover {
    -fx-transform: scale(1.1);
    -fx-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Smaller icon for logout */
.logout-icon {
    -fx-pref-width: 100px; /* Adjust width */
    -fx-pref-height: 100px; /* Adjust height */
}

.logout-icon:hover {
    -fx-transform: scale(1.1);
    -fx-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*.logout-icon:active {*/
/*    -fx-animation: logoutRotate 0.5s linear;*/
/*}*/

/* Image inside the admin icon */
.admin-icon ImageView, .logout-icon ImageView {
    -fx-fit-width: 100%;
    -fx-fit-height: 100%;
    -fx-preserve-ratio: true;
}

/* Animation for the logout button */
@keyframes logoutRotate {
    from {
        -fx-transform: rotate(0deg);
    }
    to {
        -fx-transform: rotate(360deg);
    }
}
